---
import "../css/style.css";
import Kort from "../components/Kort.astro";
import Guldbox from "../components/Guldbox.astro";
import Cirkler from "../components/Cirkler.astro";
import Video from "../components/Video.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Kort />
		<Cirkler />
		<Guldbox />
		<Video />

		<Footer />
	</body>
</html>

<h1></h1>