---
import "../css/style.css";
import Kort from "../components/Kort.astro";
import Cirkler from "../components/Cirkler.astro";
---

<html lang="da">

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Astro</title>
	</head>
	<body>
		<h1>Kampagne - navn</h1>
		<Kort></Kort>
		<Cirkler />

	</body>
</html>

<h1></h1>