---
---

<div class="grid-container">
    <div class="top-images">
    <img src="../../public/img/Karrierskift.png" alt="Image 1">
    <img src="../../public/img/Studere-du-business.png" alt="Image 2">
    </div>
    <div class="bottom-images">
      <img src="../../public/img/Medlem-af-CA.png" alt="Image 1">
       <img src="../../public/img/Dagpenge.png" alt="Image 1">
    </div>
  </div>


  <style>
  .grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  .top-images,
  .bottom-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
</style>