---
import "../css/style.css";
---
<div class="kort-container">
    <div class="kort">
        <img src="" alt="" id="image">
        <h3 class="navn" id="name"></h3>
        <h3 class="id">STUDENT ID</h3>
        <p class="arbejde">Business</p>
        <p class="tekst">Gør som mange andre studerende og bliv medlem hos CA for 0,-</p>
<a href="#" class="knap">BLIV MEDLEM</a>
    </div>
</div>

<style>

    .kort-container {
        display: flex;
        justify-content: center;
    }

    .kort {
        background-color: rgb(255, 255, 255);
        width: 330px;
        height: 210px;
          overflow: hidden;
        border-radius: 6px;
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        border-style: solid;
border-color: #204A78;
padding: 10px;
    }

    img {
        width: 75%;
        height: auto;
grid-column: 1;
grid-row: 2/5;
justify-self: center;
margin-top: 5px;
display: block;

    }

    .id {
        grid-column: 2;
        grid-row: 1;
       padding-bottom: 0px;
    }

    .knap {
    background-color: #204A78;
    color: white;
    display: inline-block;
  
    padding: 17px;
  


    border-radius: 6px;
    text-decoration: none;
  
    text-align: center;
    margin-bottom: 10px;
}

.tekst {
  
    text-align: center;
    font-size: 11px;
    margin-bottom: 10px;
    
}

.arbejde {

    text-align: center;
    margin-top: 15px;
}

.navn {
    text-align: center;
    font-size: 14px;
 
} 
.id {
    text-align: center;
}

</style>


<script type="text/javascript">
    let kort = document.querySelector('.kort');
    let image = kort.querySelector('#image');
    let nameElement = kort.querySelector('#name');

    let images = ['../../public/img/zara.png', '../../public/img/thor.png', '../../public/img/patrik.png', '../../public/img/liv.png','../../public/img/kezia.png','../../public/img/ida.png','../../public/img/chris.png'];
    let names = ['Zara Karim', 'Thor Bigand', 'Patrick Larsen', 'Liv Andersen', 'Kezia Hansen', 'Ida Mikkelsen', 'Christopher Jensen'];

    let currentIndex = 0;

    setInterval(function () {
        image.src = images[currentIndex];
        nameElement.innerText = names[currentIndex];
        
        // Increment the index or reset it to 0 if it reaches the end
        currentIndex = (currentIndex + 1) % images.length;
    }, 800);
</script>
