<nav class="navbar">
    <div class="navbar-left">
        <div class="logo">
            <img src="../public/img/logo2.png" alt="Logo">
        </div>
    </div>

    <div class="navbar-right">
        <div class="search-icon">
            <img src="../public/img/search.png" alt="Search">
        </div>

        <div class="nav-item">
            <a href="#">Blev medlem</a>
        </div>

        <div class="nav-item">
            <a class="mit" href="#">Mit CA</a>
        </div>

        <div class="burger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div class="mobile-menu">
            <a href="#">Blev medlem</a>
            <a href="#">Mit CA</a>
        </div>

    
    </div>
</nav>

<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 10px;
        color: #fff;
        padding-right: 5px;
    }

    .navbar-left,
    .navbar-right {
        display: flex;
        align-items: center;
    }

    .logo img {
        max-height: 50px;
    }

    .search-icon img,
    .nav-item img {
        max-height: 27px;
    }

    .nav-item {
margin-left: 62px;
  margin-right: -5px;
  display: inline-block;
  color: #000;
    }

    .search-icon img {
  display: inline-block;
    }

   .mit {
        margin: 0px 0px 0px;
  background-color: #204A78;
  padding: 27px;
  color: #fff;
    }

    .burger-menu {
        display: none; 
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 6px 0;
        transition: 0.4s;
        
    }

    .mobile-menu {
        display: none; 
    }


   @media only screen and (max-width: 768px) {
    /* Styles for mobile screens... */

    .nav-item,
    .search-icon img {
        display: none; /* Hide on mobile screens */
    }

    .burger-menu {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
    }

    .mobile-menu a {
        color: #000;
        text-decoration: none;
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
    }
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const burgerMenu = document.querySelector('.burger-menu');
        const mobileMenu = document.querySelector('.mobile-menu') as HTMLElement;

        burgerMenu.addEventListener('click', function () {
            mobileMenu.style.display = (mobileMenu.style.display === 'none' || mobileMenu.style.display === '') ? 'flex' : 'none';
        });

        // Close the mobile menu when a menu item is clicked
        const mobileMenuItems = document.querySelectorAll('.mobile-menu a');
        mobileMenuItems.forEach(item => {
            item.addEventListener('click', function () {
                mobileMenu.style.display = 'none';
            });
        });
    });
</script>


