---
---
<div class="line"></div>
<h2>Impoter syndrom?</h2>
<h3>Se mere på vores <a href="#">Tiktok</a> og <a href="#">Instagram</a></h3>
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/SiIexIEEPO8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<style>

.video {
  width: 91%;
  height: 39%;
  aspect-ratio: 560/315;
  border: 3.5px solid #204A78;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
margin-top: 20px;
  margin-left: 20px;

}
a {
  color: #204A78;
}
.line {
  background-color: #204A78;
  height: 1px;
  width: 272px;
  margin-left: 10%;
  margin-top: 10%;
}
h3 {
color: #1895d3;
margin-left: 16%;
  font-size: 12px;
}

h2 {
  color: #204A78;
  margin-left: 18%;
  margin-top: 10%;
}

  @media (min-width: 769px) {
    .video {
width: 60%;
    height: 39%;
    aspect-ratio: 560/315;
    border: 3.5px solid #204A78;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin: 20px 312px;
    margin-right: 116px;
    margin-left: 273px;
}
.line {
  width: 913px;
  margin-left: 12%;
}

h2 {
  margin-left: 28%;
    font-size: 65px;
}

h3 {
  margin-left: 37%;
    font-size: 20px;

}

  }

</style>