/* Hentning af Fonte */
@font-face {
    font-family: 'nexa';
    src: url('/fonte/Nexa-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    /* Fonte */
    --font-nexa: 'nexa', Arial, sans-serif;

    /* Farver */
    --text-navy: #204A78;
    --text-lightblue: #1895D3;
    --text-gray: #4A4A4A;
    --text-offwhite: #E6E6DE;
    --text-gold: #AB912E;
}

/* ------
  Resets / normalize
------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #E6E6DE;
    background-image: url(../../public/img/overlaybox.png );
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    height: auto;
    display: block;
}


h1,
h2,
h3,
p,
a {
    font-family: var(--font-nexa);
}